.ViewValueContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: #21a2bf;
  border: 2px #21a2bf solid;
  border-radius: 5px;
  font-weight: bold;
  width: 250px;
  height: 130px;
  margin: 10px;
  background-color: #262929;
}
.ViewValueContainer.text{
  font-size: 30px;
}
.ViewValueContainerDisabled{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: #f6072b;
  border: 2px #21a2bf solid;
  border-radius: 5px;
  font-weight: bold;
  width: 250px;
  height: 130px;
  margin: 10px;
  background-color: #262929;
}
.ViewValueContainerDisabled.text{
  font-size: 30px;
}

.BaseContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px #21a2bf solid;
  border-radius: 5px;
  width: 350px;
  height: 280px;
  background-color: #262929;
}
.DubleButtonContainer{
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  border: 2px #21a2bf solid;
  border-radius: 5px;
  width: 250px;
  height: 70px;
}
.ButtonBase{
  font-size: 30px;
  background-color: #21a2bf;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: #262929;
}
.ButtonBase.Disabled{
  opacity: 0.5;
}
.ViewValueContainer.set{
  font-size: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.InputBase {
  height: 40px;
  display: flex;              /* Активируем flexbox */
  align-items: center;        /* Выравниваем по центру по вертикали */
  justify-content: center;

}

.InputBase span {
  margin-right: 10px;        /* Отступ между текстом и полем ввода */
  font-size: 20px;

}
.ShortInput{
  width: 30%;
}

.ShortInputDisabled{
  width: 30%;
  border: 2px solid red;
  background-color: #ffe6e6;
}
.AppContainer{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  flex-direction: row;
  gap: 30px;
}